body{
    background:#f4f7fc;
}

.income-card{
    background:linear-gradient(
    135deg,
    #16a34a,
    #22c55e
    );

    color:white;
    border:none;
    border-radius:20px;
}

.expense-card{
    background:linear-gradient(
    135deg,
    #dc2626,
    #ef4444
    );

    color:white;
    border:none;
    border-radius:20px;
}

.balance-card{
    background:linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
    );

    color:white;
    border:none;
    border-radius:20px;
}

.card{
    border:none;
    border-radius:20px;
}

.card-body{
    padding:30px;
}

.card h2{
    font-size:2rem;
    font-weight:700;
}

.navbar-brand{
    font-size:1.4rem;
}

table{
    margin-top:15px;
}